<h1>Installation réussie</h1>

<p>Votre site puzzleApp est maintenant installé vous pouvez commencer à installer et
    utiliser des applications en les configurant depuis l'administration. 
    Vous pouvez vous connecter via le lien suivant
    <a href='login'>Mon espace administration</a>
</p>