<h1>Bienvenue sur le Puzzle App </h1>

<div class='row'>

   <div class='col-md-6'>
        <p>Vous allez lancer un site ? Félicitation.</p>
        <p>Vous avez dèjà parcouru internet pour trouver la meilleur solution possible.</p>
        <p>Il existe des solutions de bloggins, des solutions e-commerce, des systèmes de gestions de contenu. Mais lequel choisir et qu'allez vous mettre dessus ?</p>
        <p>Ne cherchez plus PuzzleApp  et fait pour vous. </p>
        <p>Télécharger la solution, installer la sur votre serveur et c'est partie.</p>
        <p>Installer ensuite les applications qui seront indispensable pour votre nouvel outil de travail.</p>
   </div>
    <div class='col-md-6'>
        <img src='images/pupitredigital.jpg' style='height:300px' />
    </div>

    <div class='col-md-6'>
      <img src='images/blog.jpg' style='height:300px' />
    </div>
    <div class='col-md-6'>

    <h2>Qu'est ce que puzzleApp</h2>
    <p>Plus qu'un Framework, Puzzle App dispose d'un socle simple, robuste et multilangue.</p>
    <p>Les applications viennent ensuite installer et le socle s'occupe de faire tourner toute cette mécanique.</p>
    <p>Vous avez besoin de fonctionnalitées suplémentaires, de module qui s'adapte à votre métier. Par de soucis un développeur pourra vous dévelloper votre application.
    Il ne se concetrera que sur cela est vous créera un solution vraiment adapté à votre besoin.
    </p>
</div>

<div class='col-md-12'  style='border-top:1px solid grey; width:100%'></div>

<div class='col-md-6'>
<h2>Une communauté grandissante</h2>
<p>La communauté grandit, des nouvelles applications sont disponibles réguliérement sur le store</p>


Venez le découvir en Exclusivité. .

Comment faire ?

<b>C'est simple. laisser votre email ci-dessous et télécharger le .</b>

{{downloader}}
</div>

<div class='col-md-6' >
  <img src='images/logiciel.png' style='height:300px' />
</div>

<div class='col-md-12'  style='border-top:1px solid grey; width:100%'>
  <h3>Les derniers articles</h3>
</div>
